body {
    background-color: white;
}

header {
    display: block;
    border: 1px solid black;
   text-align: right;
   color: black; 
   padding: 70px;
}

header p {
    text-align: left;
    font-size: 200%;
}
   

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main h1, .about-me h1 {
    flex: 0 0 20%;
    
}

main section, .about-me article {
    flex: 0 0 80%;
   
}

.banner {
    width: 100%;
    flex-basis: 100%;
}

.project {
    display: flex;
    flex-basis: 49%;
}

section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
div section article ul {
    text-align: left;
    
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 200%;

}
