
/* Reset default browser styles */
body, h1, h2, h3, p, ul, li, a {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Global styles */
body {
  background-color: #f2f2f2;
}

header {
  background-color: #333;
  padding: 10px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

section {
  margin: 20px;
}

h1 {
  margin-bottom: 10px;
}

article {
  margin-bottom: 20px;
}

img {
  display: block;
  margin-top: 10px;
}

main {
  background-color: #fff;
  padding: 20px;
}

.banner, .project {
  margin-bottom: 20px;
}

.banner a, .project a {
  display: block;
  text-decoration: none;
  color: #333;
}

.banner span, .project span {
  font-weight: bold;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

/* Media queries */
@media screen and (max-width: 600px) {
  header {
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 24px;
  }
}
